<robot name="robot_arm">
 <!-- 6-DOF Robotic Arm - simplified URDF for IKPY-based inverse kinematics - Author: Luca Obwegs -->
 	<link name="base_link">
		<visual>
		    <origin xyz="0 0 0.033" rpy="0 0 0"/>
			<geometry>
				<cylinder length="0.066" radius="0.1"/>
			</geometry>
		</visual>	
	</link>


    <link name="rot_arm1">
		<visual>
          	<geometry>
                <box size="0.05 0.05 0.0976" />
			</geometry>
		</visual>	
	</link>
    <joint name="J1" type="revolute">
      <parent link="base_link"/>
      <child link="rot_arm1"/>
      <origin xyz="0 0 0.1148" rpy="0 0 0" />
      <axis xyz="0 0 1"/>
      <limit lower="-6.28" upper="6.28" />
    </joint>



    <link name="arm1">
    <visual>
      <origin xyz="0 0 0.0885895" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.177179" radius="0.022"/>
      </geometry>
    </visual>	
	</link>
    <joint name="J2" type="revolute">
      <parent link="rot_arm1"/>
      <child link="arm1"/>
      <origin xyz="0 0.02736 0.0488" rpy="0 0 0" />
      <axis xyz="1 0 0"/>
      <limit lower="-1.8" upper="1.57" />
    </joint>
    
	<link name="arm1_stat">
		<visual>
          <origin xyz="0 0 0" rpy="1.57 0 0" />
          	<geometry>
            	<cylinder length="0.042525" radius="0.025"/>
			</geometry>
		</visual>	
	</link>
    <joint name="Jarm1stat" type="fixed">
      <parent link="arm1"/>
      <child link="arm1_stat"/>
      <origin xyz="0 0.0212625 0.177179" rpy="0 0 0" />
      <axis xyz="1 0 0"/>
    </joint>

	<link name="rot_arm2">
		<visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          	<geometry>
            	<cylinder length="0.01" radius="0.05"/>
			</geometry>
		</visual>	
	</link>
    <joint name="J3" type="revolute">
      <parent link="arm1_stat"/>
      <child link="rot_arm2"/>
      <origin xyz="0 0.0212626 0" rpy="0 0 0" />
      <axis xyz="1 0 0"/>
      <limit lower="-3.14" upper="0.785" />
    </joint>


	<link name="arm2">
		<visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          	<geometry>
            	<box size="0.05 0.05 0.140521" />
			</geometry>
		</visual>	
	</link>
    <joint name="J4" type="revolute">
      <parent link="rot_arm2"/>
      <child link="arm2"/>
      <origin xyz="0 -0.003713 0.0702605" rpy="0 0 0" />
      <axis xyz="0 0 1"/>
      <limit lower="-3.14" upper="3.14" />
    </joint>

	<link name="rot_arm3">
		<visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          	<geometry>
            	<cylinder length="0.01" radius="0.05"/>
			</geometry>
		</visual>	
	</link>
    <joint name="J5" type="revolute">
      <parent link="arm2"/>
      <child link="rot_arm3"/>
      <origin xyz="0 0 0.0702605" rpy="0 0 0" />
      <axis xyz="1 0 0"/>
      <limit lower="-1.57" upper="1.57" />
    </joint>

	<link name="arm3">
		<visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          	<geometry>
            	<box size="0.05 0.05 0.028568" />
			</geometry>
		</visual>	
	</link>
    <joint name="J6" type="revolute">
      <parent link="rot_arm3"/>
      <child link="arm3"/>
      <origin xyz="0 0 0.014284" rpy="0 0 0" />
      <axis xyz="0 0 1"/>
      <limit lower="-12.56" upper="6.28" />
    </joint>
    
</robot>